<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
  	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ([a-zA-Z0-9]+)\/([a-zA-Z0-9]+)(\/.*?)?.html$ index.php?act=$1&mod=$2&q=$3 [QSA,PT,L]
</IfModule>